* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Fira Code', monospace;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.div-nav {
    padding: 20px;
}

.itens {
    font-family: 'Fira Code', monospace;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    background: white;
    list-style: none;
}

.img {
    width: 100px;
}

.vamos-conversar {
    background: white;
    font-family: 'Fira Code', monospace;
    font-weight: 700;
    font-style: normal;
    font-size: 17px;
    border: 2px solid black;
    width: 180px;
    height: 50px;
    color: white;
    box-sizing: border-box;
    transition: 0.2s;
}

body header div button:hover {
    background: black;
    transition: 0.2ms;
}

body header div button a p:hover {
    color: white;
}

body header div button a:link {
    text-decoration: none;
}

#paragrafo {
    color: black;
}

.hr {
    display: flex;
    justify-content: center;
}

.main {
    display: flex;
}

#section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

#texto-h1 {
    font-family: 'Fira Code', monospace;
    font-weight: 700;
    font-style: normal;
    font-size: 44px;
}

#paragrafo-1 {
    font-family: 'Fira Code', monospace;
    font-weight: 500;
    font-style: normal;
    font-size: 16.5px;
}

.div-section1 {
    padding: 60px;
}

.f00Pq {
    display: flex;
}

.pqLT {
    padding: 20px;
}

body main section div div div button a:link {
    text-decoration: none;
}

.mL3t {
    color: black;
}

.qP5M {
    background: white;
    font-family: 'Fira Code', monospace;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
}

.img-kevin {
    width: 100%;
    height: 100%;
}

.contato {
    padding: 40px 0px 0px 0px;
    background: white;
    font-family: 'Fira Code', monospace;
    font-weight: 500;
    font-style: normal;
    font-size: 30px;
}

.ppp{
    padding: 20px 0px 0px 0px;
}

.papt {
    font-size:30px;
}