* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Fira Code', monospace;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.div-nav {
    padding: 20px;
}

.itens {
    font-family: 'Fira Code', monospace;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    background: white;
    list-style: none;
}

.img {
    width: 100px;
}

.vamos-conversar {
    background: white;
    font-family: 'Fira Code', monospace;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    border: 2px solid black;
}

body header div button a:link {
    text-decoration: none;
}

#paragrafo {
    color: black;
}

.hr {
    display: flex;
    justify-content: center;
}