@media (max-width: 480px){
    * {
        margin: 0;
        padding: 0;
        border: 0;
        font-family: 'Fira Code', monospace;
    }

    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .div-img {
        width: 60%;
        height: 60%;
    }
    .img {
        width: 70%;
        height: 70%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .hr {
        display: flex;
        justify-content: center;
    }
    .main {
        display: flex;
        justify-content: center;
    }
    #section1 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .div-section1 {
        padding: 15px 0px 0px 0px;
    }
    #texto-h1 {
        text-align: center;
        font-weight: 700;
        font-style: normal;
        font-size: 34px;
    }
    #paragrafo-1 {
        text-align: center;
        font-weight: 500;
        font-style: normal;
        font-size: 17px;
    }
    .f00Pq {
        padding: 30px 0px 0px 0px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .qP5M {
        background: #FF4700;
        font-weight: 700;
        font-style: normal;
        font-size: 17px;
        width: 130px;
        height: 50px;
        color: white;
        box-sizing: border-box;
        transition: 0.2s;
    }
    .mL3t {
        color: white;
    }
    .p3m6 {
        font-weight: 700;
        font-style: normal;
        font-size: 17px;
        width: 130px;
        height: 50px;
        color: white;
        box-sizing: border-box;
        transition: 0.2s;
    }
    .l2x7 {
        color: black;
    }
    body main section div div div button a:link {
        text-decoration: none;
    }
    .div-de-contato {
        padding: 20px 0px 0px 0px;
    }
    .contato {
        font-weight: 600;
        font-style: normal;
        font-size: 37px;
    }
    .papt {
        padding: 15px 0px 0px 0px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    #icones {
        font-size:50px;
    }
}

@media (min-width: 481px) and (max-width: 915px){
    * {
        margin: 0;
        padding: 0;
        border: 0;
        font-family: 'Fira Code', monospace;
    }
    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .div-img {
        width: 60%;
        height: 60%;
    }
    .img {
        width: 70%;
        height: 70%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .hr {
        display: flex;
        justify-content: center;
    }
    .main {
        display: flex;
        justify-content: center;
    }
    #section1 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .div-section1 {
        padding: 25px 0px 0px 0px;
    }
    #texto-h1 {
        text-align: center;
        font-style: normal;
        font-weight: 700;
        font-size: 80px;
    }
    #paragrafo-1 {
        padding: 30px 0px 0px 0px;
        text-align: center;
        font-weight: 500;
        font-style: normal;
        font-size: 40px;
    }
    .f00Pq {
        padding: 35px 0px 0px 0px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .qP5M {
        background: #FF4700;
        font-weight: 700;
        font-style: normal;
        font-size: 34px;
        width: 260px;
        height: 100px;
        box-sizing: border-box;
        transition: 0.2s;
    }
    .mL3t {
        color: white;
    }
    .p3m6 {
        background: gray;
        font-weight: 700;
        font-style: normal;
        font-size: 34px;
        width: 260px;
        height: 100px;
        box-sizing: border-box;
        transition: 0.2s;
    }
    .l2x7 {
        color: black;
    }
    body main section div div div button a:link {
        text-decoration: none;
    }
    .div-de-contato {
        padding: 100px 0px 0px 0px;
    }
    .contato {
        font-weight: 600;
        font-style: normal;
        font-size: 67px;
    }
    .papt {
        padding: 35px 0px 0px 0px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    #icones {
        font-size: 115px;
    }
}