* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Fira Code', monospace;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.div-nav {
    padding: 20px;
}

.itens {
    font-family: 'Fira Code', monospace;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    background: white;
    list-style: none;
}

.img {
    width: 100px;
}

.vamos-conversar {
    background: white;
    font-family: 'Fira Code', monospace;
    font-weight: 700;
    font-style: normal;
    font-size: 17px;
    border: 2px solid black;
    width: 180px;
    height: 50px;
    color: white;
    box-sizing: border-box;
    transition: 0.2s;
}

#vamos-conversar-p {
    color: black;
}

/* body header div button:hover {
    background: black;
    transition: 0.2ms;
} */

/* A cor do parágrafo não está ficando branco no hover */

body header div button a p:hover {
    color: white;
}

body header div button a:link {
    text-decoration: none;
}

#paragrafo {
    color: black;
}

#paragrafo:hover {
    text-decoration: underline;
}

.hr {
    display: flex;
    justify-content: center;
}

.p4n1 {
    width: 500px;
    text-align: left;
}